    <div id="main">
			<div class="container-fluid">
        <div class="page-header">
            <div class="pull-left">
                <!-- START BLOCK : TYPE -->
                <h1>&nbsp;{TYPENAME} </h1>
                <!-- END BLOCK : TYPE -->
            </div>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="?act=main">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <!-- START BLOCK : SUBTYPE -->
                    <a href="{LINKSUBTYPE}">{SUBTYPE}</a>
                    <!-- END BLOCK : SUBTYPE -->
                </li>
            </ul>
            <div class="close-bread">
                <a href="#"><i class="icon-remove"></i></a>
            </div>
        </div>
			</div>
		</div>