            
            <!-- <input type="text" onkeypress="return isNumberKey(event)" id="TESTBUATNUMBER" name="TESTBUATNUMBER">-->
            <div id="pre-page-content">
            <!-- START BLOCK : HEADER -->
                <h1><i class="{HEADERICON} themed-color"></i> {HEADERTITLE} <br><small>{HEADERDESC}</small></h1>
            <!-- END BLOCK : HEADER -->    
            </div>
            
            <div id="page-content">
            <!-- START BLOCK : BREADCRUMB -->
            
                <!-- Breadcrumb -->
                <!-- You can have the breadcrumb stick on scrolling just by adding the following attributes with their values (data-spy="affix" data-offset-top="250") -->
                <!-- You can try it on other elements too :-), the sticky position and style can be adjusted in the css/main.css with .affix class -->
                <ul class="breadcrumb" data-spy="affix" data-offset-top="250">
                    <li><a href="#"><i class="{BREADCRUMBICON}"></i></a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li><a href="{BREADCRUMBLINKLEVEL1}">{BREADCRUMBLEVEL1}</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL2}"><a href="{BREADCRUMBLINKLEVEL2}">{BREADCRUMBLEVEL2}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL2}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL3}"><a href="{BREADCRUMBLINKLEVEL3}">{BREADCRUMBLEVEL3}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL3}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL4}"><a href="{BREADCRUMBLINKLEVEL4}">{BREADCRUMBLEVEL4}</a></li>
                </ul>
                
                <!-- END Breadcrumb -->
               <!-- END BLOCK : BREADCRUMB -->
                
                
                <!-- START BLOCK : TABLEHISTORY -->
                <div class="block-section">
                    <table id="example-datatables" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="span1 text-center hidden-phone">#</th>
                                <th class="hidden-phone hidden-tablet"></i> Ticket No.</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th class="hidden-tablet hidden-phone">Requester</th>
                                <th class="hidden-tablet hidden-phone">Request Date</th>                                     
                                <th>Status</th>
                                <th class="span1 text-center"><i class="icon-bolt"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- START BLOCK : LISTHISTORY -->
                            <tr class="{COLORAPPCLASS}">
                                <td class="span1 text-center hidden-phone">{NO}</td>
                                <td class="hidden-phone hidden-tablet">{TICKETNO}</td>
                                <td>{TITLE} </td>   
                                <td>{CATEGORYNAME} </td>                             
                                <td class="hidden-tablet hidden-phone">{CREATEDBY}</td>
                                <td class="hidden-tablet hidden-phone">{REQUESTDATE}</td>                                
                                <td>{STATUS} </td>
                                <td class="span1 text-center">
                                    <div class="btn-group">
                                        <a href="?act=viewtickethistory&ticketNo={TICKETNO}" data-toggle="tooltip" title="view detail" class="btn btn-mini btn-success"><i class="icon-angle-right"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <!-- END BLOCK : LISTHISTORY -->
                        </tbody>
                    </table>
                </div>
                <!-- END BLOCK : TABLEHISTORY -->
                <!-- END Dynamic Tables Section -->
                
                <!-- START BLOCK : VIEWTICKETHISTORY -->
                <div class="block block-themed">
                    <!-- Default Tabs Title -->
                    <div class="block-title">
                        <h4>Ticket Details</h4>
                    </div>
                    <!-- END Default Tabs Title -->

                    <!-- Default Tabs Content -->
                    <div class="block-content full">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#ticket"><i class="icon-ticket"></i> Ticket Detail</a></li>
                            <li class=""><a href="#history"><i class="icon-spinner"></i> Description & History</a></li>
                            
                        </ul>
                        <div class="tab-content"> 
                        <div class="tab-pane active" id="ticket">  
                           
                            <form id="frmEditUserApp" action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <h4 class="sub-header">No. {TICKETNO}</h4>
                                <div class="span5">        
                                    <div class="control-group">
                                        <label class="control-label" for="title">Title</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{TITLE}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="title">Category</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{CATEGORYNAME}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="title">Due Date</label>
                                        <div class="controls">
                                            <input type="text" id="duedate" name="duedate" value="{DUEDATE}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="title">Closed Date</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{CLOSEDDATE}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="pelaksana">Analyst</label>
                                        <div class="controls">
                                            <input type="text" id="pelaksana" name="pelaksana" value="{ANALYST}" readonly>
                                         
                                        </div>
                                    </div>

                                </div> 
                                <div class="span5">                                                              
                                    <div class="control-group">
                                        <label class="control-label" for="title">Request By</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{CREATEDBY}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="title">Request Date</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{REQUESTDATE}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="title">Status</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{STATUSNAME}" readonly>
                                        </div>         
                                    </div> 
                                    <div class="control-group">
                                        <label class="control-label" for="title">Completed Date</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{COMPLETEDDATE}" readonly>
                                        </div>         
                                    </div> 
                                    <div class="control-group">
                                        <label class="control-label" for="title">Attachment</label>
                                        <div class="controls">
                                            {FILENAME}
                                        </div>         
                                    </div>                                   
                                    </div>
                                    <div class="span10">   
                                    <div class="control-group">
                                        <label class="control-label" for="description">Description</label>
                                        <div class="controls">
                                            <textarea id="readdescription" name="readdescription" rows="7" style="margin: 1px 0px 0px; width: 100%; height: 250px; overflow-y:scroll;" readonly  >{DESCRIPTION}</textarea>
                                            <textarea id="lastdescription" name="lastdescription" style="display:none;">{DESCRIPTION}</textarea>
                                        </div>         
                                    </div>
                                    <div class="form-actions">
                                        <a href="?act=tickethistory"><button type="submit" class="btn btn-danger loading-on"><i class="icon-repeat"></i> Close</button></a>
                                    </div>
                                    </div>
                            </form>
                        
                        </div>
                    </div>
                </div>
                <script src="js/vendor/jquery-1.9.1.min.js"></script>
                <script src="js/userApp/userApp.js"></script>
                <!-- END BLOCK : VIEWTICKETHISTORY -->
              
            </div>
            </div>
            </div>