            <div id="pre-page-content">
            <!-- START BLOCK : HEADER -->
                <h1><i class="{HEADERICON} themed-color"></i> {HEADERTITLE} <br><small>{HEADERDESC}</small></h1>
            <!-- END BLOCK : HEADER -->    
            </div>
            
            <div id="page-content">
            <!-- START BLOCK : BREADCRUMB -->
            <ul class="breadcrumb" data-spy="affix" data-offset-top="250">
                    <li><a href="#"><i class="{BREADCRUMBICON}"></i></a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li><a href="{BREADCRUMBLINKLEVEL1}">{BREADCRUMBLEVEL1}</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL2}"><a href="{BREADCRUMBLINKLEVEL2}">{BREADCRUMBLEVEL2}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL2}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL3}"><a href="{BREADCRUMBLINKLEVEL3}">{BREADCRUMBLEVEL3}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL3}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL4}"><a href="{BREADCRUMBLINKLEVEL4}">{BREADCRUMBLEVEL4}</a></li>
                </ul>
                <!-- END Breadcrumb -->
               <!-- END BLOCK : BREADCRUMB -->
                <!-- START BLOCK : ADD -->
                <script type="text/javascript" src="js/user_AutoInsertEmployee.js"></script> 
                <div class="block block-themed">
                    <div class="block-title">
                        <h4>Add User</h4>
                    </div>
                    <div class="block-content">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#edit"><i class="icon-edit"></i> Add User Maintenance</a></li>
                        </ul>
                        <div class="tab-content">
                        <div class="tab-pane active" id="edit">    
                        <form id="frmAddUser" action="?act=sadduser" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <h4 class="sub-header">Add User Account</h4>
                            <div class="span6">   

                            <div class="control-group">
                                <label class="control-label" for="username">Username</label>
                                <div class="controls">
                                    <input type="text" id="username" name="username" >
                                </div>
                            </div>                                                                                    
                            
                            <div class="control-group">
                                <label class="control-label" for="userFullName">Full Name</label>
                                <div class="controls">                                         
                                <input type="text" id="userFullName" name="userFullName" >    
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="Email">Email</label>
                                <div class="controls">                                         
                                <input type="text" id="userEmail" name="userEmail" >    
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="userType">User Type</label>
                                <div class="controls">
                                    <select id="userType" name="userType" >      <!-- class="select-chosen" -->
                                    {USERTYPE}
                                </select> 
                            </div>                                            
                            <div class="control-group">
                                <label class="control-label" for="userPassword">Password</label>
                                <div class="controls">
                                    <input type="password" id="userPassword" name="userPassword">
                                </div>
                                
                            </div> 
                            <div class="control-group">
                                <label class="control-label" for="retypeUserPassword">Retype Password</label>
                                <div class="controls">
                                    <input type="password" id="retypeUserPassword" name="retypeUserPassword">
                                </div>
                                
                            </div> 
                            </div>
                            <div class="span6"> 
              
                                                                  
                            <div class="form-actions">   
                                <button type="submit" class="btn btn-success loading-on"><i class="icon-ok"></i> Submit</button>
                                <button type="reset" class="btn btn-danger loading-on"><i class="icon-repeat"></i> Reset</button>
                            </div>
                            </div>
                            </div>
                        </form> 
                    </div>
                </div>
                  <script src="js/vendor/jquery-1.9.1.min.js"></script>
                  <script src="js/userApp/userList.js"></script>
                <!-- START BLOCK : ADD -->
                
                <!-- START BLOCK : INQUIRY -->
                  <div class="block-section">      
                        <form action="?act=user" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <!-- Default Inputs --> 
                            <h4 class="sub-header">Inquiry User </h4>
                            <div class="control-group">
                                <label class="control-label" for="userFullName">Full Name</label>
                                <div class="controls">
                                    <input type="text" id="userFullName" name="userFullName">
                                </div>
                                
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="userEmail">User Email</label>
                                <div class="controls">
                                    <input type="email" id="userEmail" name="userEmail">
                                    
                                </div>
                            </div>
                            <div class="form-actions">   
                                <button type="submit" class="btn btn-info loading-on"><i class="icon-ok"></i> Search...</button>
                                <button type="reset" class="btn btn-danger loading-on"><i class="icon-repeat"></i> Reset</button>
                                OR <a href="?act=adduser" class="btn btn-success loading-on"> Create User <i class="icon-plus"></i></a>
               
                            </div>
                            <!-- END Form Buttons -->
                        </form> 
                 </div>      
                <!-- END BLOCK : INQUIRY -->
                <!-- START BLOCK : TABLE -->
                <div class="block-section">  
                    <table id="example-datatables" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="span1 text-center hidden-phone">#</th>
                                <th class="hidden-phone hidden-tablet"><i class="icon-user"></i> Username</th>
                                <th>Full Name</th>
                                <th>User Type</th>
                                <th class="hidden-tablet hidden-phone"><i class="icon-envelope-alt"></i> Email</th>
                                <!--  <th class="hidden-tablet hidden-phone">Created</th> -->
                                <th class="hidden-tablet hidden-phone">Last Modified</th>
                                <th class="hidden-tablet hidden-phone">Status</th>
                                <th class="span1 text-center"><i class="icon-bolt"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- START BLOCK : LIST -->
                            <tr>
                                <td class="span1 text-center hidden-phone">{NO}</td>
                                <td class="hidden-phone hidden-tablet">{USERNAME}</td>
                                <td>{USERFULLNAME}</td>
                                <td>{USERTYPE}</td>
                                <td class="hidden-tablet hidden-phone">{EMAIL}</td>
                                <!-- <td class="hidden-tablet hidden-phone">{CREATEDBY} at {CREATEDDATE}</td> -->
                                <td class="hidden-tablet hidden-phone">{MODIFIEDBY} / {MODIFIEDDATE}</td>
                                <td class="hidden-tablet hidden-phone">{STATUS}</td>
                                <td class="span1 text-center">
                                    <div class="btn-group">
                                        <a href="?act=viewuser&userName={USERNAME}" data-toggle="tooltip" title="Edit" class="btn btn-mini btn-success"><i class="icon-pencil"></i></a>
                                        <a href="#deleteuser{USERNAME}" role="button" data-toggle="modal" data-toggle="tooltip" title="Delete" class="btn btn-mini btn-danger"><i class="icon-remove"></i></a> 
                                    </div>
                                </td>
                            <!-- Form untuk Delete Confirmation -->
                            <div id="deleteuser{USERNAME}" class="modal hide fade">
                            <div class="modal-body remove-padding">
                                <div class="block-tabs">
                                    <div class="block-options">
                                        <a href="javascript:void(0)" class="btn btn-danger" data-dismiss="modal"><i class="icon-remove"></i></a>
                                    </div>
                                    <ul class="nav nav-tabs" data-toggle="tabs">
                                        <li class="active"><a href="#del"><i class="icon-warning-sign"></i> Confirmation !</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="del">
                                            <form action="?act=deluser&username={USERNAME}" method="post" class="form-horizontal" enctype="multipart/form-data">
                                                <div class="control-group">
                                                    <label class="control-label" for="modal-account-username">Do you want to delete user <b>{USERFULLNAME}</b>?</label>
                                                </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning loading-on"><i class="icon-trash"></i> Delete</button>
                            </div>
                            </form>
                        </div>
                        <!-- End Form untuk Delete Confirmation -->
                        
                            </tr>
                            <!-- END BLOCK : LIST -->
      <!-- START BLOCK : PAGE -->
                    <div class="pagination pagination-centered">
                        <ul>{PREV}{PAGE}{NEXT}
                        </ul>
                    </div>
			<!-- END BLOCK : PAGE -->
                        </tbody>
                    </table>
                </div>
                <!-- END BLOCK : TABLE -->  
                <!-- END Dynamic Tables Section -->
                
                <!-- START BLOCK : VIEW -->
                <div class="block block-themed">
                    <!-- Default Tabs Title -->
                    <div class="block-title">
                        <h4>User Details <small> for user {USERFULLNAME} </small></h4>
                    </div>
                    <!-- END Default Tabs Title -->

                    <!-- Default Tabs Content -->
                    <div class="block-content full">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#user"><i class="icon-user"></i> User Information</a></li>
                        </ul>
                        <div class="tab-content"> 
                        <div class="tab-pane active" id="user"> 
                        <form id="frmEditUser" action="?act=sedituser&userName={USERNAME}" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <!-- Default Inputs -->
                            <h4 class="sub-header">User Details </h4>
                            <div class="span6"> 
                            <div class="control-group">
                                <label class="control-label" for="username">Username</label>
                                <div class="controls">
                                    <input type="text" id="username" name="username" value="{USERNAME}" disabled>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="userfullname">Full Name</label>
                                <div class="controls">
                                    <input type="text" id="userFullName" name="userFullName" value="{USERFULLNAME}" readonly>
                                </div>
                                
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="useremail">Email</label>
                                <div class="controls">
                                    <input type="text" id="useremail" name="userEmail" value="{USEREMAIL}" readonly>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="useremail">Status</label>
                                <div class="controls">
                                    <input type="text" id="status" name="status" value="{STATUS}" readonly>
                                </div>
                            </div>
                            </div>
                                                                           
                            <!-- 
                            <div class="form-actions">   
                                <button type="submit" class="btn btn-success loading-on"><i class="icon-ok"></i> Update</button>
                                <button type="reset" class="btn btn-danger loading-on"><i class="icon-repeat"></i> Cancel</button>
                            </div>
                             END Form Buttons -->
                        </form> 
                        </div>
                    </div>
                    </div>
                  <script src="js/vendor/jquery-1.9.1.min.js"></script>
                  <script src="js/userApp/userList.js"></script>
                <!-- END BLOCK : VIEW -->

                <!-- START BLOCK : PROFILE -->
                <div class="block block-themed">
                    <!-- Default Tabs Title -->
                    <div class="block-title">
                        <h4>User Details <small> for user {USERFULLNAME} </small></h4>
                    </div>
                    <!-- END Default Tabs Title -->

                    <!-- Default Tabs Content -->
                    <div class="block-content full">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#user"><i class="icon-user"></i> User Information</a></li>
                        </ul>
                        <div class="tab-content"> 
                        <div class="tab-pane active" id="user"> 
                        <form id="frmEditProfile" action="?act=changepassword&userName={USERNAME}" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <!-- Default Inputs -->
                            <h4 class="sub-header">User Details </h4>
                            <div class="span5"> 
                            <div class="control-group">
                                <label class="control-label" for="username">Username</label>
                                <div class="controls">
                                    <input type="text" id="username" name="username" value="{USERNAME}" disabled>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="userfullname">Full Name</label>
                                <div class="controls">
                                    <input type="text" id="userFullName" name="userFullName" value="{USERFULLNAME}" readonly>
                                </div>
                                
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="useremail">Email</label>
                                <div class="controls">
                                    <input type="text" id="useremail" name="userEmail" value="{USEREMAIL}" readonly>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="useremail">Status</label>
                                <div class="controls">
                                    <input type="text" id="status" name="status" value="{STATUS}" readonly>
                                </div>
                            </div>
                            </div>
                            <div class="span5"> 
                                <div class="control-group">
                                    <label class="control-label" for="username">Current Password</label>
                                    <div class="controls">
                                        <input type="password" id="currentpassword" name="currentpassword">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="userfullname">New Password</label>
                                    <div class="controls">
                                        <input type="password" id="newpassword" name="newpassword">
                                    </div>                                    
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="userfullname">Retype New Password</label>
                                    <div class="controls">
                                        <input type="password" id="retypenewpassword" name="retypenewpassword">
                                    </div>                                    
                                </div>
                                <div class="form-actions">   
                                    <button type="submit" class="btn btn-success loading-on"><i class="icon-ok"></i> Update</button>
                                    <button type="reset" class="btn btn-danger loading-on"><i class="icon-repeat"></i> Cancel</button>
                                </div>
                                </div>                                               
                                
                        </form> 
                        </div>
                    </div>
                    </div>
                  <script src="js/vendor/jquery-1.9.1.min.js"></script>
                  <script src="js/userApp/userList.js"></script>
                <!-- END BLOCK : PROFILE --> 

                 <!-- START BLOCK : VIEWEDIT -->
                <div class="block block-themed">
                    <div class="block-title">
                        <h4>User Details <small> for user {USERFULLNAME} </small></h4>
                    </div>
                    <div class="block-content full">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#editpriv"><i class="icon-edit"></i> Edit Information</a></li>
                        </ul>
                        <div class="tab-content">
                        <div class="tab-pane active" id="editpriv">    
                        <form action="?act=seditpriviliges&appCode={APPCODE}&userName={USERNAME}" method="post" class="form-horizontal" enctype="multipart/form-data"> 
                          <h4 class="sub-header">Change App {APPNAME}</h4>
                            <div class="control-group">
                                <label class="control-label" for="username">Username</label>
                                <div class="controls">
                                    <input type="text" id="username" name="username" value="{USERNAME}" disabled>
                                </div>
                            </div> 
                            <div class="control-group">
                                <label class="control-label" for="userFullName">Full Name</label>
                                <div class="controls">
                                    <input type="text" id="userFullName" name="userFullName" value="{USERFULLNAME}" disabled>
                                </div>
                                
                            </div>
                            <div class="control-group">
                                <label class="control-label">Status</label>
                                <div class="controls">
                                    <label for="rstatus1">
                                    <input type="radio" id="rstatus1" name="rstatus" class="input-themed" value="1" {ACTIVE}> Active
                                    </label>
                                    <label for="rstatus2">
                                        <input type="radio" id="rstatus2" name="rstatus" class="input-themed" value="0" {NONACTIVE}> In Active
                                    </label>
                                </div>
                                </div>
                            <div class="control-group">
                                <label class="control-label" for="appCodeChange">Application Name</label>
                                <div class="controls">
                                    <select id="appCodeChange" name="appCodeChange" class="select-chosen">
                                    {APPNAMEEDIT}
                                </select>
                            </div>
                            <div class="form-actions">   
                                <button type="submit" class="btn btn-success loading-on"><i class="icon-ok"></i> Update</button>
                                <button type="reset" class="btn btn-danger loading-on"><i class="icon-repeat"></i> Cancel</button>
                            </div>
                        </form> 
                        </div>  
                    </div>
                </div>
                <!-- START BLOCK : VIEWEDIT -->
            </div>
            </div>
            </div>