            
            <!-- <input type="text" onkeypress="return isNumberKey(event)" id="TESTBUATNUMBER" name="TESTBUATNUMBER">-->
            <div id="pre-page-content">
            <!-- START BLOCK : HEADER -->
                <h1><i class="{HEADERICON} themed-color"></i> {HEADERTITLE} <br><small>{HEADERDESC}</small></h1>
            <!-- END BLOCK : HEADER -->    
            </div>
            
            <div id="page-content">
            <!-- START BLOCK : BREADCRUMB -->
            
                <!-- Breadcrumb -->
                <!-- You can have the breadcrumb stick on scrolling just by adding the following attributes with their values (data-spy="affix" data-offset-top="250") -->
                <!-- You can try it on other elements too :-), the sticky position and style can be adjusted in the css/main.css with .affix class -->
                <ul class="breadcrumb" data-spy="affix" data-offset-top="250">
                    <li><a href="#"><i class="{BREADCRUMBICON}"></i></a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li><a href="{BREADCRUMBLINKLEVEL1}">{BREADCRUMBLEVEL1}</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL2}"><a href="{BREADCRUMBLINKLEVEL2}">{BREADCRUMBLEVEL2}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL2}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL3}"><a href="{BREADCRUMBLINKLEVEL3}">{BREADCRUMBLEVEL3}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL3}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL4}"><a href="{BREADCRUMBLINKLEVEL4}">{BREADCRUMBLEVEL4}</a></li>
                </ul>
                
                <!-- END Breadcrumb -->
               <!-- END BLOCK : BREADCRUMB -->
                <!-- START BLOCK : ADD --> 

                <div class="block block-themed">
                    <div class="block-title">
                        <h4>Add Category</h4>
                    </div>
                    <div class="block-content">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#user"><i class="glyphicon-vector_path_curve"></i> Category Information</a></li>
                        </ul>
                        <div class="tab-content"> 
                        <div class="tab-pane active" id="user">  
                        <div class="span9">  
                        <form id="frmAddCategory" action="?act=saddcategory" method="POST" class="form-horizontal" enctype="multipart/form-data">
                            <!-- Default Inputs -->
                            <h4 class="sub-header">Add Category Details</h4>                            
                            <div class="control-group">
                                <label class="control-label" for="appName">Category Name</label>
                                <div class="controls">
                                    <input type="text" id="categoryName" name="categoryName">
                                </div>         
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="appUrl">SLA</label>
                                <div class="controls">
                                    <input type="number" id="sla" name="sla">
                                </div>         
                            </div>
                            <div class="form-actions">   
                                <button type="submit" class="btn btn-success loading-on"><i class="icon-ok"></i> Submit</button>
                                <button type="reset" class="btn btn-danger loading-on"><i class="icon-repeat"></i> Cancel</button>
                            </div>
                        </form> 
                        </div>
                        </div>
                    </div>
                </div>
                <script src="js/vendor/jquery-1.9.1.min.js"></script>
                <script src="js/userApp/userApp.js"></script>
                <!-- END BLOCK : ADD -->
                
                <!-- START BLOCK : TABLE -->
                <div class="block-section" align="right">
                <a href="?act=addcategory"><button class="btn btn-success"> Create Category <i class="icon-plus"></i></button> </a>
                </div>
                <div class="block-section">
                    <table id="example-datatables" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="span1 text-center hidden-phone">#</th>
                                <th class="hidden-phone hidden-tablet">Code</th>
                                <th>Category Name</th>
                                <th class="hidden-tablet hidden-phone">SLA</th>
                                <th class="hidden-tablet hidden-phone">Created By</th>
                                <th class="hidden-tablet hidden-phone">Created Date</th>
                                <th class="hidden-tablet hidden-phone">Modified By</th>
                                <th class="hidden-tablet hidden-phone">Modified Date</th>
                                <th class="span1 text-center"><i class="icon-bolt"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- START BLOCK : LIST -->
                            <tr>
                                <td class="span1 text-center hidden-phone">{NO}</td>
                                <td class="hidden-phone hidden-tablet">{CATEGORYCODE}</td>
                                <td>{CATEGORYNAME} </td>
                                <td class="hidden-tablet hidden-phone">{SLA} </td>
                                <td class="hidden-tablet hidden-phone">{CREATEDBY}</td>
                                <td class="hidden-tablet hidden-phone">{CREATEDDATE}</td>
                                <td class="hidden-tablet hidden-phone">{MODIFIEDBY}</td>
                                <td class="hidden-tablet hidden-phone">{MODIFIEDDATE}</td>
                                <td class="span1 text-center">
                                    <div class="btn-group">
                                        <a href="?act=viewcategory&categoryCode={CATEGORYCODE}" data-toggle="tooltip" title="Edit" class="btn btn-mini btn-success"><i class="icon-pencil"></i></a>
                                        <a href="#deletecategory{CATEGORYCODE}" role="button" data-toggle="modal" data-toggle="tooltip" title="Delete" class="btn btn-mini btn-danger"><i class="icon-remove"></i></a> 
                                    </div>
                                </td>
                            <!-- Form untuk Delete Confirmation -->
                            <div id="deletecategory{CATEGORYCODE}" class="modal hide fade">
                            <div class="modal-body remove-padding">
                                <div class="block-tabs">
                                    <div class="block-options">
                                        <a href="javascript:void(0)" class="btn btn-danger" data-dismiss="modal"><i class="icon-remove"></i></a>
                                    </div>
                                    <ul class="nav nav-tabs" data-toggle="tabs">
                                        <li class="active"><a href="#del"><i class="icon-warning-sign"></i> Confirmation !</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="del">
                                            <form action="?act=delcategory&categoryCode={CATEGORYCODE}" method="post" class="form-horizontal" enctype="multipart/form-data">
                                                <div class="control-group">
                                                    <label class="control-label" for="modal-account-username">Do you want to delete category name <b>{CATEGORYNAME}</b> ?</label>
                                                </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning loading-on"><i class="icon-trash"></i> Delete</button>
                            </div>
                            </form>
                        </div>
                        <!-- End Form untuk Delete Confirmation -->
                        
                            </tr>
                            <!-- END BLOCK : LIST -->
                        </tbody>
                    </table>
                </div>
                <!-- END BLOCK : TABLE -->
                <!-- END Dynamic Tables Section -->
                
                <!-- START BLOCK : VIEWCATEGORY -->
                <div class="block block-themed">
                    <!-- Default Tabs Title -->
                    <div class="block-title">
                        <h4>Category Details</h4>
                    </div>
                    <!-- END Default Tabs Title -->

                    <!-- Default Tabs Content -->
                    <div class="block-content full">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#category"><i class="glyphicon-vector_path_curve"></i> Category Information</a></li>
                        </ul>
                        <div class="tab-content"> 
                        <div class="tab-pane active" id="category">  
                        <div class="span9">   
                        <form id="frmEditUserApp" method="post" action="?act=seditcategory&categoryCode={CATEGORYCODE}" class="form-horizontal" enctype="multipart/form-data">
                            <!-- Default Inputs -->
                            <h4 class="sub-header">Category Details</h4>
                            <div class="control-group">
                                <label class="control-label" for="categoryCode">Code</label>
                                <div class="controls">
                                    <input type="text" id="categoryCode" name="categoryCode" value="{CATEGORYCODE}" disabled>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="categoryName">Category Name</label>
                                <div class="controls">
                                    <input type="text" id="categoryName" name="categoryName" value="{CATEGORYNAME}">
                                </div>   
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="appUrl">SLA</label>
                                <div class="controls">
                                    <input type="number" id="sla" name="sla" value="{SLA}">
                                </div>         
                            </div>
                            
                
                            <div class="form-actions">   
                                <button type="submit" class="btn btn-success loading-on"><i class="icon-ok"></i> Update</button>
                                <button type="reset" class="btn btn-danger"><i class="icon-repeat"></i> Cancel</button>
                            </div>
                        </form> 
                        </div>
                        </div>
                    </div>
                </div>
                <script src="js/vendor/jquery-1.9.1.min.js"></script>
                <script src="js/userApp/userApp.js"></script>
                <!-- END BLOCK : VIEWCATEGORY -->
              
            </div>
            </div>
            </div>