            
            <!-- <input type="text" onkeypress="return isNumberKey(event)" id="TESTBUATNUMBER" name="TESTBUATNUMBER">-->
            <div id="pre-page-content">
            <!-- START BLOCK : HEADER -->
                <h1><i class="{HEADERICON} themed-color"></i> {HEADERTITLE} <br><small>{HEADERDESC}</small></h1>
            <!-- END BLOCK : HEADER -->    
            </div>
            
            <div id="page-content">
            <!-- START BLOCK : BREADCRUMB -->
            
                <!-- Breadcrumb -->
                <!-- You can have the breadcrumb stick on scrolling just by adding the following attributes with their values (data-spy="affix" data-offset-top="250") -->
                <!-- You can try it on other elements too :-), the sticky position and style can be adjusted in the css/main.css with .affix class -->
                <ul class="breadcrumb" data-spy="affix" data-offset-top="250">
                    <li><a href="#"><i class="{BREADCRUMBICON}"></i></a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li><a href="{BREADCRUMBLINKLEVEL1}">{BREADCRUMBLEVEL1}</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL2}"><a href="{BREADCRUMBLINKLEVEL2}">{BREADCRUMBLEVEL2}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL2}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL3}"><a href="{BREADCRUMBLINKLEVEL3}">{BREADCRUMBLEVEL3}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL3}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL4}"><a href="{BREADCRUMBLINKLEVEL4}">{BREADCRUMBLEVEL4}</a></li>
                </ul>
                
                <!-- END Breadcrumb -->
               <!-- END BLOCK : BREADCRUMB -->
                <!-- START BLOCK : ADD --> 

                <div class="block block-themed">
                    <div class="block-title">
                        <h4>New Ticket</h4>
                    </div>
                    <div class="block-content">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#user"><i class="glyphicon-vector_path_curve"></i> Request New Ticket</a></li>
                        </ul>
                        <div class="tab-content"> 
                        <div class="tab-pane active" id="user">  
                        <div class="span9">  
                        <form id="frmAddUserApp" action="?act=saddticket" method="POST" class="form-horizontal" enctype="multipart/form-data">
                            <!-- Default Inputs -->
                            <h4 class="sub-header">Ticket Form</h4>                            
                            <div class="control-group">
                                <label class="control-label" for="title">Title</label>
                                <div class="controls">
                                    <input type="text" id="title" name="title">
                                </div>         
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="userType">Category</label>
                                <div class="controls">
                                    <select id="category" name="category" >      <!-- class="select-chosen" -->
                                    {CATEGORY}
                                </select> 
                                </div>
                            </div> 
                            <div class="control-group">
                                <label class="control-label" for="appUrl">Description</label>
                                <div class="controls">
                                    <textarea id="description" name="description" rows="7" style="margin: 1px 0px 0px; width: 100%; height: 167px;"></textarea>
                                </div>         
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="colorAppCode">Attachment</label>
                                <div class="controls">
                                   <input type="file" id="file" name="file">                                    
                                </div>
                            </div>
                            <div class="form-actions">   
                                <button type="submit" class="btn btn-warning loading-on" name='draftbtn'><i class="icon-pencil"></i> Draft</button>
                                <button type="submit" class="btn btn-success loading-on"><i class="icon-ok"></i> Submit</button>
                                
                                <button type="reset" class="btn btn-danger loading-on"><i class="icon-repeat"></i> Cancel</button>
                            </div>
                        </form> 
                        </div>
                        </div>
                    </div>
                </div>
                <script src="js/vendor/jquery-1.9.1.min.js"></script>
                <script src="js/userApp/userApp.js"></script>
                <!-- END BLOCK : ADD -->
                
                <!-- START BLOCK : TABLE -->
                
                <!-- START BLOCK : BTNCREATE -->
                <div class="block-section" align="right">
                <a href="?act=addticket"><button class="btn btn-success"> New Ticket <i class="icon-plus"></i></button> </a>
                </div>
                <!-- END BLOCK : BTNCREATE -->

                <div class="block-section">
                    <table id="example-datatables" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="span1 text-center hidden-phone">#</th>
                                <th class="hidden-phone hidden-tablet"></i> Ticket No.</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th class="hidden-tablet hidden-phone">Requester</th>
                                <th class="hidden-tablet hidden-phone">Request Date</th>
                                <th class="hidden-tablet hidden-phone">Due Date</th>                
                                <th>Status</th>
                                <th class="span1 text-center"><i class="icon-bolt"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- START BLOCK : LIST -->
                            <tr class="{COLORAPPCLASS}">
                                <td class="span1 text-center hidden-phone">{NO}</td>
                                <td class="hidden-phone hidden-tablet">{TICKETNO}</td>
                                <td>{TITLE} </td>   
                                <td>{CATEGORYNAME} </td>                             
                                <td class="hidden-tablet hidden-phone">{CREATEDBY}</td>
                                <td class="hidden-tablet hidden-phone">{REQUESTDATE}</td>
                                <td class="hidden-tablet hidden-phone">{DUEDATE}</td>                                
                                <td>{STATUS} </td>
                                <td class="span1 text-center">
                                    <div class="btn-group">
                                        <a href="?act=viewticket&ticketNo={TICKETNO}" data-toggle="tooltip" title="view detail" class="btn btn-mini btn-success"><i class="icon-angle-right"></i></a>
                                       
                                    </div>
                                </td>
                            <!-- Form untuk Delete Confirmation -->
                            <div id="deleteticket{APPCODE}" class="modal hide fade">
                            <div class="modal-body remove-padding">
                                <div class="block-tabs">
                                    <div class="block-options">
                                        <a href="javascript:void(0)" class="btn btn-danger" data-dismiss="modal"><i class="icon-remove"></i></a>
                                    </div>
                                    <ul class="nav nav-tabs" data-toggle="tabs">
                                        <li class="active"><a href="#del"><i class="icon-warning-sign"></i> Confirmation !</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="del">
                                            <form action="?act=delticket&ticketCode={APPCODE}" method="post" class="form-horizontal" enctype="multipart/form-data">
                                                <div class="control-group">
                                                    <label class="control-label" for="modal-account-username">Do you want to delete ticket name <b>{APPNAME}</b> ?</label>
                                                </div>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning loading-on"><i class="icon-trash"></i> Delete</button>
                            </div>
                            </form>
                        </div>
                        <!-- End Form untuk Delete Confirmation -->
                        
                            </tr>
                            <!-- END BLOCK : LIST -->
                        </tbody>
                    </table>
                </div>
                <!-- END BLOCK : TABLE -->
                <!-- END Dynamic Tables Section -->
                
                <!-- START BLOCK : VIEWTICKET -->
                <div class="block block-themed">
                    <!-- Default Tabs Title -->
                    <div class="block-title">
                        <h4>Ticket Details</h4>
                    </div>
                    <!-- END Default Tabs Title -->

                    <!-- Default Tabs Content -->
                    <div class="block-content full">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#ticket"><i class="icon-ticket"></i> Ticket Detail</a></li>
                            <li class=""><a href="#history"><i class="icon-spinner"></i> Description & History</a></li>
                            
                        </ul>
                        <div class="tab-content"> 
                        <div class="tab-pane active" id="ticket">  
                           
                            <form id="frmEditUserApp" action="?act=seditticket&ticketNo={TICKETNO}&categoryCode={CATEGORYCODE}&statusCode={STATUS}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <h4 class="sub-header">No. {TICKETNO}</h4>
                                <div class="span5">        
                                    <div class="control-group">
                                        <label class="control-label" for="title">Title</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{TITLE}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="title">Category</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{CATEGORYNAME}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="status">Action</label>
                                        <div class="controls">
                                            <select id="status" name="status" required>      <!-- class="select-chosen" -->
                                            {STATUSMAPP}
                                        </select> 
                                        </div>
                                    </div>
                                    <!-- START BLOCK : ASSIGN -->
                                    <div class="control-group">
                                        <label class="control-label" for="pelaksana">Assign to</label>
                                        <div class="controls">
                                            <select id="pelaksana" name="pelaksana" >   
                                            {PELAKSANA}
                                        </select> 
                                        </div>
                                    </div>
                                    <!-- END BLOCK : ASSIGN -->

                                </div> 
                                <div class="span5">                                                              
                                    <div class="control-group">
                                        <label class="control-label" for="title">Request By</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{CREATEDBY}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="title">Request Date</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{REQUESTDATE}" readonly>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="title">Status</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" value="{STATUSNAME}" readonly>
                                        </div>         
                                    </div> 
                                    <div class="control-group">
                                        <label class="control-label" for="title">Attachment</label>
                                        <div class="controls">
                                            {FILENAME}
                                        </div>         
                                    </div>                                   
                                    </div>
                                    <div class="span10">   
                                    <div class="control-group">
                                        <label class="control-label" for="description">Description</label>
                                        <div class="controls">
                                            <textarea id="readdescription" name="readdescription" rows="7" style="margin: 1px 0px 0px; width: 100%; height: 180px; overflow-y:scroll;" readonly  >{DESCRIPTION}</textarea>
                                            <textarea id="lastdescription" name="lastdescription" style="display:none;">{DESCRIPTION}</textarea>
                                        </div>         
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="appUrl">Comment</label>
                                        <div class="controls">
                                            <textarea id="description" name="description" rows="7" style="margin: 1px 0px 0px; width: 100%; height: 80px; overflow-y:scroll;" required></textarea>
                                        </div>         
                                    </div>
                                    <div class="form-actions">   
                                        <button type="submit" class="btn btn-success loading-on"><i class="icon-ok"></i> Submit</button>
                                        <button type="reset" class="btn btn-danger loading-on"><i class="icon-repeat"></i> Cancel</button>
                                    </div>
                                    </div>
                            </form>
                        
                        </div>
                    </div>
                </div>
                <script src="js/vendor/jquery-1.9.1.min.js"></script>
                <script src="js/userApp/userApp.js"></script>
                <!-- END BLOCK : VIEWTICKET -->
              
            </div>
            </div>
            </div>