            
            <!-- <input type="text" onkeypress="return isNumberKey(event)" id="TESTBUATNUMBER" name="TESTBUATNUMBER">-->
            <div id="pre-page-content">
            <!-- START BLOCK : HEADER -->
                <h1><i class="{HEADERICON} themed-color"></i> {HEADERTITLE} <br><small>{HEADERDESC}</small></h1>
            <!-- END BLOCK : HEADER -->    
            </div>
            
            <div id="page-content">
            <!-- START BLOCK : BREADCRUMB -->
            
                <!-- Breadcrumb -->
                <!-- You can have the breadcrumb stick on scrolling just by adding the following attributes with their values (data-spy="affix" data-offset-top="250") -->
                <!-- You can try it on other elements too :-), the sticky position and style can be adjusted in the css/main.css with .affix class -->
                <ul class="breadcrumb" data-spy="affix" data-offset-top="250">
                    <li><a href="#"><i class="{BREADCRUMBICON}"></i></a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li><a href="{BREADCRUMBLINKLEVEL1}">{BREADCRUMBLEVEL1}</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL2}"><a href="{BREADCRUMBLINKLEVEL2}">{BREADCRUMBLEVEL2}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL2}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL3}"><a href="{BREADCRUMBLINKLEVEL3}">{BREADCRUMBLEVEL3}</a><span class="divider"><i class="{BREADCRUMBRIGHTLEVEL3}"></i></span></li>
                    <li class="{BREADCRUMBACTIVELEVEL4}"><a href="{BREADCRUMBLINKLEVEL4}">{BREADCRUMBLEVEL4}</a></li>
                </ul>
                
                <!-- END Breadcrumb -->
               <!-- END BLOCK : BREADCRUMB -->
                
                <!-- START BLOCK : TABLE -->                

                <div class="block-section">
                    <table id="example-datatables" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center;" class="span1 text-center hidden-phone">#</th>
                                <th style="text-align: center;" class="hidden-phone hidden-tablet"></i> Analyst Name</th>
                                <th style="text-align: center;" width="100">On Progress</th>
                                <th style="text-align: center;" width="100">Closed</th>
                                <th style="text-align: center;" width="100">Completed</th>
                                <th style="text-align: center;" width="100">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- START BLOCK : LIST -->
                            <tr class="{COLORAPPCLASS}">
                                <td class="span1 text-center hidden-phone">{NO}</td>
                                <td class="hidden-phone hidden-tablet">{FULLNAME}</td>
                                <td style="text-align: center;">{S02} </td> 
                                <td style="text-align: center;">{S03} </td> 
                                <td style="text-align: center;">{S04} </td>   
                                <td style="text-align: center;">{JML} </td>   
                        
                            </tr>
                            <!-- END BLOCK : LIST -->
                        </tbody>
                    </table>
                </div>
                <!-- END BLOCK : TABLE -->
                <!-- END Dynamic Tables Section -->
                
              
              
            </div>
            </div>
            </div>