
                                <nav id="primary-nav">
                                    <ul>
                                    <!-- START BLOCK : CURRENTLI -->
                                        <li >
                                            <a href="?act=main" class="{CURRENTMAIN} loading-on"><i class="glyphicon-display"></i>Dashboard</a>
                                        </li>
                                        
                                        <li class="{CURRENTTICKET}">
                                            <a href="#" class="menu-link"><i class="glyphicon-pen"></i>Ticket</a>
                                            <ul>
                                                <li>
                                                    <a href="?act=ticket" class="{CURRENTTICKETLIST} loading-on">List</a>
                                                </li>
                                                <li>
                                                    <a href="?act=tickethistory" class="{CURRENTTICKETHISTORY} loading-on">History</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="{CURRENTSETTING}">
                                            <a href="#" class="menu-link"><i class="glyphicon-cogwheel"></i>Setting</a>
                                            <ul>
                                                
                                                <li>
                                                <a href="?act=user" class="{CURRENTSETTINGUSER} loading-on">User</a>
                                                </li>
                                                <li>
                                                    <a href="?act=category" class="{CURRENTSETTINGCATEGORY} loading-on">Category</a>
                                                </li>
                                               
                                            </ul>
                                        </li>  
                                        <li>
                                            <a href="?act=profile" class="{CURRENTPROFILE} loading-on"><i class="glyphicon-user"></i>Profile</a>
                                        </li>    
                                        <li>
                                            <a href="?act=report" class="{CURRENTREPORT} loading-on"><i class="glyphicon-book"></i>Report</a>
                                        </li>                                  
                                        <li> 
                                            <a href="#modal-about" data-toggle="modal"><i class="glyphicon-power"></i>About</a> 
                                        </li>
                                        <!-- END BLOCK : CURRENTLI -->
                                    </ul>
                                </nav>
                          
                    
                    
                    
  