
                                <nav id="primary-nav">
                                    <ul>
                                    <!-- START BLOCK : CURRENTLI -->
                                        <li >
                                            <a href="?act=main" class="{CURRENTMAIN} loading-on"><i class="glyphicon-display"></i>Dashboard</a>
                                        </li>
                                        
                                        <li class="{CURRENTORGANIZATION}">
                                            <a href="#" class="menu-link"><i class="glyphicon-pen"></i>Ticket</a>
                                            <ul>
                                                <li>
                                                    <a href="?act=ticket" class="{CURRENTDIRECTORATE} loading-on" >List</a>
                                                </li>
                                                <li>
                                                    <a href="?act=division" class="{CURRENTDIVISION} loading-on">History</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="?act=application" class="{CURRENTAPPLICATION} loading-on"><i class="glyphicon-book"></i>Profile</a>
                                        </li>
                                        <li class="{CURRENTUSER}">
                                            <a href="#" class="menu-link"><i class="glyphicon-user"></i>User Setting</a>
                                            <ul>
                                                
                                                <li>
                                                <a href="?act=user" class="{CURRENTUSERLIST} loading-on">User List</a>
                                                </li>
                                                
                                            </ul>
                                        </li>                                        
                                        <li> 
                                            <a href="#modal-about" data-toggle="modal"><i class="glyphicon-power"></i>About</a> 
                                        </li>
                                        <!-- END BLOCK : CURRENTLI -->
                                    </ul>
                                </nav>
                          
                    
                    
                    
  