            <div id="pre-page-content">
                <h1><i class="glyphicon-dashboard themed-color"></i>Dashboard<br><small>Welcome <strong>{USERFULLNAME}</strong>, everything looks good!</small></h1>
            </div>
            
            <div id="page-content">

            </div>